
@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top: 40px;">Overview</h1>
<h5 style="margin-bottom: 60px;">Find your dream car</h5>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/car-test.jpeg" class="card-img-top" alt="car">
            <div class="card-body">
                <span class="badge badge-pill badge-dark float-right" style="font-size: 15px;">35'000$</span>
                <a href="#"><h5 class="card-title">Audi A5 Coupe</h5></a>
                <div class="row icon-row">
                    <div class="col car-icons">
                        <img src="~/images/icons/calendar.png" class="icon-img" alt="calendar">
                        <h6>2013</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/odometer.png" class="icon-img alt="odometer">
                        <h6>100'000</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/automatic-transmission.png" class="icon-img alt="transmission">
                        <h6>Automatic</h6>
                    </div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/car-test.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <span class="badge badge-pill badge-dark float-right" style="font-size: 15px;">35'000$</span>
                <a href="#"><h5 class="card-title">Card title</h5></a>
                <div class="row icon-row">
                    <div class="col car-icons">
                        <img src="~/images/icons/calendar.png" class="icon-img" alt="calendar">
                        <h6>2013</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/odometer.png" class="icon-img alt="odometer">
                        <h6>100'000</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/manual-transmission.png" class="icon-img alt="transmission">
                        <h6>Manual</h6>
                    </div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/car-test.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <span class="badge badge-pill badge-dark float-right" style="font-size: 15px;">35'000$</span>
                <a href="#"><h5 class="card-title">Card title</h5></a>
                <div class="row icon-row">
                    <div class="col car-icons">
                        <img src="~/images/icons/calendar.png" class="icon-img" alt="calendar">
                        <h6>2013</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/odometer.png" class="icon-img alt="odometer">
                        <h6>100'000</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/automatic-transmission.png" class="icon-img alt="transmission">
                        <h6>Automatic</h6>
                    </div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/car-test.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <span class="badge badge-pill badge-dark float-right" style="font-size: 15px;">35'000$</span>
                <a href="#"><h5 class="card-title">Card title</h5></a>
                <div class="row icon-row">
                    <div class="col car-icons">
                        <img src="~/images/icons/calendar.png" class="icon-img" alt="calendar">
                        <h6>2013</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/odometer.png" class="icon-img alt="odometer">
                        <h6>100'000</h6>
                    </div>
                    <div class="col car-icons">
                        <img src="~/images/icons/manual-transmission.png" class="icon-img alt="transmission">
                        <h6>Manual</h6>
                    </div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div> 